body {
  font-family: 'Noto Sans TC', sans-serif;
}
p {
  margin: 0;
}
/* nav */
.navbar {
  padding: 7px 50px;
  background-color: #7ca2a2;
}
.navbar-brand {
  color: white;
  font-size: 1.4rem;
}
.navbar-brand:hover {
  color: #e6e6fa;
}
.fa-money-check-alt, .fa-comment-dollar {
  margin-right: 7px;
}
.nav-item {
  display: inline-block;
  color: white;
  font-size: 1.1rem; 
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px;
}
.nav-item:hover {
  color: rgba(0,0,0,0.6);
  text-decoration: none;
  background-color: rgba(255,255,255,0.8);
  border: 1px solid rgba(255,255,255,0.8);
}
.index-content {
  margin-top: 50px;
}

/* dropdown */
.dropdown-group {
  width: 20%;
}
.dropdown-toggle {
  width: 100%;
  border: 1px solid #808080;
  border-radius: 2px;
  background-color: rgba(124,162,162, 0.1);
}
.dropdown-menu {
  width: 20%;
  margin-left: 6px;
}


/* total-expense */
.total-expense {
  margin: 20px 40px 20px 0;
}
.total-expense span {
  font-size: 50px;
  color: #2a52be;
  font-weight: 700;
}

/* expense list */
.list-group {
  width: 650px;
  border: 2px solid rgba(124,162,162, 0.4);
  border-radius: 5px;
  box-shadow: 0 0 2px 1px rgba(124,162,162, 0.2);
  margin-bottom: 50px;
}

.list-group-item:hover {
  background-color: rgba(124,162,162, 0.05);
}

.list-group-item {
  padding: 0;
  border: none;
}
.list-box {
  margin: 0 10px;
  padding: 10px;
  border-bottom: 1.5px solid rgba(124,162,162, 0.4);
}
.list-group-item:last-child >.list-box {
  border-bottom: none;
}
.list-text>p {
  overflow: hidden;
  padding-top: 2px;
  font-size: 1.2rem;
}
.list-icon>i {
  width: 40px;
  height: auto;
  font-size: 2rem;
  color: #7ca2a2;
}
.list-text>.date {
  font-size: 0.8rem;
}
.list-expense {
  font-size: 1.3rem;
}
.edit-button {
  background-color: #e0f3f8;
  margin-right: 3px;
}

.delete-button {
  background-color: #ffe5b4;
}
.cancel-button {
  background-color: #dcdcdc;
}
.delete-button:hover, .edit-button:hover, .cancel-button:hover, .create-button:hover {
  box-shadow: 0 0 2px 1px rgba(0,0,0,0.4);
}

/* enter form */
.enter-form {
  border: 3px solid rgba(124,162,162, 0.3);
  border-radius: 5px;
  margin: 40px auto;
  padding: 30px 50px;
  width: 40%;
  min-width: 400px;
  background-color: rgba(124,162,162, 0.05);
}
.enter-form .col-12 {
  margin: 20px 0;
}
.enter-form h5 {
  margin-right: 1rem;
  font-size: 1rem;
  margin-bottom: 0;
}
.enter-form input, .enter-form select {
  padding: 2px 5px;
}
.create-button {
  background-color: #87cefa;
}

.sure-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.3);  
}
.sure {
  background-color: #fff;
  padding: 20px 20px;
  box-shadow: 0 0 3px 2px rgba(0,0,0,0.5);
  border-radius: 3px;
  width: 400px;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.sure p {
  margin: 15px 0 20px 0;
}
.sure-button {
  background-color: #eee;
  border: 1px solid black;
  letter-spacing: 3px;  
}
.sure-button:hover {
  background-color: rgba(0,0,0,0.6);
  color: rgba(255,255,255,0.8)
}


@media screen and (max-width: 925px) {
  .list-box {
    flex-direction: column;
  }
  .list-group {
  width: 450px;
  }
  .list-info {
    justify-content: space-around;
    width: 80%;
  }
  .list-button{
    margin-top: 1rem;
  }
  .list-button .btn{
    margin: 0 30px;
  }
  .list-text {
    text-align: center;
    padding-right: 10px;
  }
  .enter-form {
    width: 60%;
  }
}






