<form action="/categories/create" method="POST"
  class="categoriesCreate mx-auto enter-form d-flex justify-content-center">
  <div class="row">
    <div class="col-12">
      <h4 class="text-center">請輸入要新增的類別</h4>
      <p class="text-center">*必填欄位</p>
    </div>
    <div class="col-12 d-flex align-items-center justify-content-between">
      <label for="category" class="col-3 text-right">名稱*：</label>
      <input class="flex-grow-1" type="text" required="required" id="category" name="category">
    </div>
    <div class="col-12 d-flex align-items-center">
      <label for="categoryEN" class="col-3 text-right">英文名*：</label>
      <input class="flex-grow-1 input-icon" type="text" required="required" name="categoryEN" id="categoryEN">
    </div>
    <div class="col-12 d-flex align-items-center">
      <label for="icon" class="text-right col-3">ICON：</label>
      <input class="flex-grow-1 input-icon" type="text" name="icon" id="icon" placeholder="e.g. fas fa-home">
    </div>
    <div class="col-12 d-flex align-items-center justify-content-center">
      <span><i class="fas fa-exclamation-triangle mr-2"></i>ICON請輸入<a
          href="https://fontawesome.com/">fontawesome.com</a>的免費icon</span>
    </div>
    <div class="enter-button col-12 my-4 d-flex justify-content-around">
      <a class="btn cancel-button" href="/">返回類別管理</a>
      <button type="submit" class="btn create-button">新增類別</button>
    </div>
  </div>
</form>